In [1]:
#1 WAS TO PRINT "Hello world"
s="hello"
print(s)

hello

In [63]:
#2 was to initilize the single and multiple value in single variable
g=6
print(g)
h=[10,20,30]
print(h)

6
[10, 20, 30]

In [64]:
#3 was to initialize multivariable values ae 150 , 120 , 250
a,b,c = 150, 120 ,250
print(a,b,c)

150 120 250

In [65]:
#4 types of data in given value 
a={23,43}
print(type(a))

<class 'set'>

In [66]:
#5 was to print the address of the memory blok in given Value
a=6835
print(id(a))

1903097701552

In [67]:
#6 print your details , and display it
name = "manisha"
age = 21
phone = 8712316628
email ="manishachilakapati@gmail.com"
height = 5.7
print(name , age , phone , email, height)

manisha 21 8712316628 manishachilakapati@gmail.com 5.7

In [68]:
#7 swaping the to varriables using 3rd temp element
a= 10
b=39

temp = a
a = b
b = temp
print(a)
print(b)

39
10

In [69]:
#8 swap the variables without using temp variables
m = [10, 20]
n = (39, 68)
m , n = n , m
print (m)
print(n)

(39, 68)
[10, 20]

In [70]:
#8 initializing a value
a = {"m":"python"}
print(a["m"])
a['m']= "java"
print(a['m'])

python
java

In [71]:
#9 concatenation

a = [10,20,30]
print(a)
a += [40,50,19]
print(a)

[10, 20, 30]
[10, 20, 30, 40, 50, 19]

In [202]:
#10 convert single valuedata to multi value data 
a = 10
str(a)

'10'

In [ ]:
#11 to concate two multi value data types 
#str
x = "hello"
x+= "world"
print(x)
#list
y = [10 , 20 , 30 ]
y+=[12 , 34 , 21]
print(y)
#tuple
z = (21, 13 , 34)
z +=(43 , 53 ,2 )
print(z)
m = {87 , 6 ,32}
m|={32 ,42 ,4}
print(m)
n = {'a':12,'b':34}
n|={"n":75,"m":86}
print(n)

helloworld
[10, 20, 30, 12, 34, 21]
(21, 13, 34, 43, 53, 2)
{32, 4, 6, 87, 42}
{'a': 12, 'b': 34, 'n': 75, 'm': 86}

In [ ]:
#12 length of collection
c = "hello"
len(c)
print(len(c))
d=([13,53, "",13])
len(d)

5

4

In [ ]:
#13 write a equaion to check a middle value of a collection
d = [12,43,21,56,87]
print(d[len(d)//2])

21

In [ ]:
#14 was to concate a new str to the starting of an existing str
x = "is a python class"
y ="this "
z = y + x
print(z )

this is a python class

In [ ]:
#15 was to cancate a new str to the middle of a xisting str
x = "this is class"
print(len(x)//2)
y = x[0:7]+ " python" + x[7:]
print(y)

6
this is python class

In [ ]:
#16 was to modify the new charecter into the middle of given str
m = "today is holiday"
n = m[0:len(m)//2] + " super" + m[len(m)//2:]
print(n)

today is super holiday

In [ ]:
#17 was o modify the sequence of charecters in given ster
s = "luvuzindhagi"
p = s[0:3]+" "+s[3:4]+" "+s[4:]
print(p)

luv u zindhagi

In [ ]:
#18 to delete specific char
s = "sadhuvukondiifirst"
p = s[0:11]+s[12:]
print(p)

sadhuvukondifirst

In [ ]:
#19 was to concate the new value into the list
l = [1,2,3]
l += ["a","b"]
print(l)

[1, 2, 3, 'a', 'b']

In [204]:
#20 was to concate the new value ino ending of str
y =["ramu", "seetha"]
y+=['king' , "queen"]
y

['ramu', 'seetha', 'king', 'queen']

In [206]:
#21 was to concate the new value in to the middle of the str
t =[10, 113 , True ,"haii"]
t [len(t)//2:len(l)//2]=['10','20']
t

[10, 113, '10', '20', 'haii']

In [207]:
#was to concate a new value in to the specific position of list
l =[12 ,3432,True, "haii"]
l[-2:-2] = [100 ,200]
l

[12, 3432, 100, 200, True, 'haii']

In [209]:
#22 was to modify a new value in to the starting of list
l =[12 ,3432,True, "haii"]
l[0] =200
l

[200, 3432, True, 'haii']

In [210]:
#23 was to modify a new value in to the ending position of list
l =[12 ,3432,True, "haii"]
l[-1] = 100
l

[12, 3432, True, 100]

In [211]:
#24 was to modify  a new value in to the middle position of list
l =[12 ,3432,True, "haii"]
l[len(l)//2] = 100 
l

[12, 3432, 100, 'haii']

In [208]:
#25was to modify a new value in to the specific position of list
l =[12 ,3432,True, "haii"]
l[1] = 15 + 73j
l

[12, (15+73j), True, 'haii']

In [1]:
#26 was to modify the 1st 4 position value in list
l= [2,4,63,22,53,24,63,642,25]
l[0:4]=["a","s","sz","r"]
l

['a', 's', 'sz', 'r', 53, 24, 63, 642, 25]

In [4]:
#27 was to modify the sequence of list
l= [2,4,63,22,53,24,63,642,25]
l[0::2]=["a","s","sz","r",'g']
l[1::2]=[1,3,4,5]
l

['a', 1, 's', 3, 'sz', 4, 'r', 5, 'g']

In [5]:
#28 was to delete the specifi position value in list
l= [2,4,63,22,53,24,63,642,25]
del l[3]
l

[2, 4, 63, 53, 24, 63, 642, 25]

In [6]:
#29 was to delete the specific value in set
l= {2,4,63,22,53,24,63,642,25}
l= l -{2, 4,63}
l

{22, 24, 25, 53, 642}

In [ ]:
#30 concate the new key and value into the dict
d={'a':150}
d["b"]=75 
print(d)

{'a': 150, 'b': 75}

In [7]:
#31 concate the new key and  value into the  multi value dict
d={'a':150,"b":24}
e = {"s":23,"v":3}
d|=e
print(d)

{'a': 150, 'b': 24, 's': 23, 'v': 3}

In [ ]:
#32 concate the new key and value into the dict
d={'a':150}
d["b"]=75 
print(d)

In [88]:
d = {'a':"hai",'b':700,'c':500,'d':780}
d['c']
del d['c']
print(d)

{'a': 'hai', 'b': 700, 'd': 780}

In [8]:
#33 modify the specific value in dict
x={10:50,23:"jde"}
x[10]=234
x

{10: 234, 23: 'jde'}

In [120]:
#34 to delete the specific key and value in the given dict
d ={'a':"hai" , 'b':750 , 'c': '500'}
del d['c']
print(d)

{'a': 'hai', 'b': 750}

In [87]:
#35 to modify the specific value in the given dict
x={10:150,20:"hai"}
x[10]=156
print (x)

{10: 156, 20: 'hai'}

In [125]:
#36 to concate the list  using type casting
l=['a','b','c']
t=(10,20,30)
print(l+list(t))

['a', 'b', 'c', 10, 20, 30]

In [129]:
#37 to concate the list value and tuple value without using type casting
l = ['a','b','c'] 
t=(32,54,2)
l+=t

In [90]:
#38 to check the gven num is divisible by 3
n=9
print(n%3==0)

True

In [91]:
#39 to check the given numm is divisible by 2 and 6
n=12
print(n%2==0 and n%6==0)

True

In [92]:
#40 to check the last digit is divisible by 3 from the given int num 
n=1998
print((n%10)%3)==0

2

False

In [130]:
#41 to check the last digit is divisible 3 by type ccating
n=2026
int(str(n)[-1])%3==0
print(n)

2026

In [131]:
#42 to check the given num is greater than 150
n = 187
print(n>150)

True

In [132]:
#43 to check the given is greater or equal to 100
n = 99
print(n>=100)

False

In [133]:
#44 to check the given num is <150 
n = 132
print(n<150)

True

In [134]:
#45 to check the given num is <= 100
n= 100
print(n<=100)

True

In [135]:
#46 to check the given num is > 15 and < 24
n=23 
print(15<n>24)

False

In [136]:
#47 to check he given num is even
n =23
print(n%2==0)

False

In [137]:
#48 to check the given num is odd
n = 13
print(n%2!=0)

True

In [105]:
#49 repclication of a given str 6 times
s="abc"
print(s*6)

abcabcabcabcabcabc

In [106]:
#50 replcation of a collection in 3 times
t=('a','b',None)
print(t*3)

('a', 'b', None, 'a', 'b', None, 'a', 'b', None)

In [9]:
#51 to check the given number is divisibel by 3 and also < 22
n = 24
print(n%3==0 and n>22)

True

In [12]:
#52 tocheck the len(collection) is even or not
g = "hbvrkvn"
len(g)%2==0

False

In [13]:
#53to check the len(collection) is < 55 or not and >16

y ="f uhbvuyiuvc8u8vyiybktd"
print(len(y)>16 and len(y)<55)

True

In [14]:
#54 to check the len(collection) is divisible by 5 and odd
a = "dsfrd"
print(len(a)%5==0 and len(a)%2!=0)

True

In [18]:
#55 to check the middle position of given collection(str,list,tupple)
s ="hai"
print(len(s)//2)
#list
p = [12,3,45,43]
print(len(p)//2)
#tupple
r = (1,4,11,42,43)
print(len(r)//2)

1
2
2

In [19]:
#56 was to check the given num is greater than 20 and less than 30 and should be even
r=26
20 < r <30 and r%2==0

True

In [20]:
#57 to the given num is even and less than 120
n=110
n%2==0 and n<120

True

In [21]:
#58 givn num is even and greater than 40 and less than 70
n = 60 
n%2==0 and 40< n< 70

True

In [22]:
#59 given num is odd and >97
n =111
n%2!=0 and n>97

True

In [23]:
#60 the given num is divisible by 4 and >48 and <122
n=120 
n%4==0 and 48 <n<122

True

In [24]:
#61 the given num is divisible by 3 and 5
n=12
n%3==0 and n%5==0

False

In [25]:
#62 the given num is > 100 and < 200
n=100
100<n<200

False

In [28]:
#63 to check the given str last char ascii value
s= "apple"
ord(s[-1])%5==0

False

In [170]:
#64 to check the given str last cahr ascii value should be divisible by 5  or not
s="apple"
ord(s[-1])%5==0

False

In [144]:
#65 to check the ascii value of string 
s="apple"
print(s)
s[-1]
ord('A')

apple

65

In [113]:
#66 was to check present b/w 60 to 130 and the number should be divisible by 3 and 4
n=120
print(60<=n<=130 and n%3==0 and n%4==0 and n%10<9)

True

In [145]:
#67was to check the given number is even or greater than 25
n=30
print(n%2==0 or n<25)

True

In [114]:
#68 was to check the given number is even or greater than 25
n=30
print(n%2==0 or n>25)

True

In [146]:
#69 was to check the given num is divisible by 3 Or 5
n=30
print(n%3==0 or n%5==0)

True

In [116]:
#70 was to check the given num is  not divisible by either 3 and 5
n=34
print(n%3!=0 and n%5!=0)

True

In [117]:
#71 was to check find out the ascii char in a given number
n=48
chr(n)

'0'

In [147]:
#72 to check the given num is not a evn num
n=30 
print(n%2!=0)

False

In [ ]:
#73 to check the given num is not a odd num
n=30 
print(n%2==0)

In [148]:
#74 to check the given num is not divisible by 3 
n=30 
print(n%3!=0)

False

In [150]:
#75 to check the given num is not divisible by 3  and 5
n=30 
print(n%3!=0 and n%5!=0)

False

In [152]:
#76 to check the given num is not divisible by 3 or 5
n=30 
print(n%3!=0 or n%5!=0)

False

In [168]:
#77 to check the given charecter acsii value is  divisible by 5
n="aasd"
print(ord(n[-1])%5==0)

True

In [159]:
#78 to check the given asciii char in a given num 
n=30 
chr(n)

'\x1e'

In [163]:
#79 To check the ascii value in a given char
ch ='a'
ord(ch)

97

In [172]:
#80 to check the given chr is uppercase or not
ch = "G"
"A" <= ch and ch <= "z"

True

In [174]:
#81 to check the given chr is lower case 
ch = "a"
"a" <= ch <= "z"

True

In [197]:
#82 to check the given charecter is the alphabet 
ch = "8"
"A" <= ch <= "Z" or "a"<=ch<="z"

False

In [178]:
#83 to check the given char is the ascii num 
ch =5
0 <= ch <= 9

True

In [179]:
#84 to check the given char is spcl char
ch ="$"
"A" <= ch <= "Z" or "a"<=ch<="z" or "0" <= ch <= "9"

False

In [194]:
#85 to check the giiven num should not be upper case 
ch = 'A'
n != ("A" <= ch <= "Z")

True

In [189]:
#86 to check the giiven num should not be lower case 
ch = 'B'
ch != "a" <= ch <= "z"

False

In [193]:
#87 to check the given char is not a spcl char
ch ="$"
n != ("A" <= ch <= "Z" or "a"<=ch<="z" or "0" <= ch <= "9")

True

In [196]:
#88 to check the given char is not a ascii num 
ch ="g"
n != ( "0" <= ch <= "9")

True

In [ ]:
#89 to check the given char is not a ascii num 
ch ="g"
n != ( "0" <= ch <= "9")

In [198]:
#90 to check the given char is not a spcl char
ch = "$"
n != ("A" <= ch <= "Z" or "a"<=ch<="z" or "0" <= ch <= "9")

True

In [199]:
#91was to check the given chr is vowel
ch = 'A'
ch in "aeiouAEIOU"

True

In [56]:
#92 to concate the value of strating position of tuple 
mom =(12 ,45 , 23 ,42)
mom = (34,) + mom
print(mom)

(34, 12, 45, 23, 42)

In [52]:
#93 to concate the  value of middle position of tuple
o =(12 ,45 , 23 ,42)

o=o[0:2] + (54,) + o[2:]
print(o)

(12, 45, 54, 23, 42)

In [55]:
#94 to concate the value of ending position of tuple
t = (12 ,45 , 23 ,42)
t = t +(76,)
print(t)

(12, 45, 23, 42, 76)

In [64]:
#95 to modify the sequence of value in tuple at 1st position 

u = (12 ,45 , 23 ,42)
u=u[0:0] + (76,)+ u[1:] 
u

(76, 45, 23, 42)

In [67]:
#96 to modify the sequence of value in tuple at last position

u = (12 ,45 , 23 ,42)
u=u[0:3] + (76,)+ u[4:] 
u

(12, 45, 23, 76)

In [71]:
#97 to del the sequence of value in tuple at 1st position

u = (12 ,45 , 23 ,42)

u=u[0:0] + ()+ u[1:]
u

(45, 23, 42)

In [72]:
#98 to del the sequence of value in tuple at last position

u = (12 ,45 , 23 ,42)

u=u[0:3] + ()+ u[4:]
u

(12, 45, 23)

In [73]:
#99  to del the sequence of value in tuple at 1st position

u = (12 ,45 , 23 ,42)

u=u[0:2] + ()+ u[3:]
u

(12, 45, 42)

In [2]:
#100 to check the given chr is consonent
ch ="E"
ch not in "aeiouAEIOU"

False

In [3]:
ch = "A"
chr(ord(ch)+32)

'a'

In [4]:
ch = "a"
chr(ord(ch)-32)

'A'

In [5]:
#103
ch = "B"
chr(ord(ch)-1)

'A'

In [6]:
#104
ch = "m"
chr(ord(ch)+1)

'n'

In [7]:
#105
ch ="d"
len(ch)==1 and ord(ch)%2==0 and 'a'<= ch<='z'

True

In [8]:
#106
ch ="e"
len(ch)==1 and ord(ch)%2!=0 and 'A'<= ch<='Z'

False

In [12]:
#107
n =87
'A'<= chr(n)<="Z" or  'a'<= ch<='z' or '0'<=chr(n)<=9

True

In [13]:
#108
n=65
chr(n) in "AEIOUaeiou"

True

In [17]:
#109
st = "ABCD"
print(ord(st[0])+1==ord(st[1]))

True

In [18]:
#110
ch = "o"
ord(ch)>25 or ord(ch)<112

True

In [19]:
#111
m=10
m+=1
m

11

In [20]:
#112
m=10
m+=2
m

12

In [21]:
#113
m=10
m-=1
m

9

In [22]:
#114
m=10
m-=3
m

7

In [24]:
#115
n=10
m=[10,20,30,5,3]
n in m

True

In [25]:
#116
a=10
b=20
a=a+b
a

30

In [26]:
#117
st = "p"
coll="bvikruvhp"
st in coll

True

In [27]:
#120
b=15
type(15)

int

In [28]:
#121
b="acd"
type(b)==str

True

In [30]:
#122
c=b'1010'
type(c) in [int, float,complex, bool,bytes,type(None)]

True

In [31]:
#123
c=b'vhy'
type(c)  not in [int, float,complex, bool,bytes,type(None)]

False

In [32]:
#124
c = "beua"
type(c) in [str,list,tuple,set,dict]

True

In [33]:
#125
c = "beua"
type(c) in [list,set,dict]

False

In [35]:
#126
c = "beua"
type(c) not in [list,set,dict]

True

In [36]:
#127
n = 36
n%6==0 and n in [10 ,20 ,12, 36]

True

In [37]:
#128
m = 13
n =12
m & n

12

In [38]:
#129
mm = 13
n =12
m | n

13

In [39]:
#130
m = 13
n =12
m ^ n

1

In [40]:
#131
~23

-24

In [41]:
#132
m = 32
n =3
m<<n

256

In [42]:
#133
m = 23
n =12
m>>n

0

In [43]:
#134
print((10+20*60 and 10**3) or ({10,20} or not([15 ,16])))

1000

In [45]:
#135
d = {"a":10,"hai":"bye",(100,):(1,20)}
k="a"
k in d

True

In [46]:
#136
d = {"a":10,"hai":"bye",(100,):(1,20)}
k="10"
k in d.values()

False

In [47]:
#137
d = {"a":10,"hai":"bye",(100,):(1,20)}
k="a"
k not in d

False

In [48]:
#138
d = {"a":10,"hai":"bye",(100,):(1,20)}
k="a"
k in d.items()

False

In [49]:
#139
a = 12
b = 12
a is b

True

In [50]:
#140
a = 256
b = 256
type(a) == int and type(b) == int and a is b

True