In [1]:
#WAS TO PRINT "Hello world"
s="hello"
print(s)

hello

In [1]:
#was to initilize the single and multiple value in single variable
g=6
print(g)
h=[10,20,30]
print(h)

6
[10, 20, 30]

In [2]:
#was to initialize multivariable values ae 150 , 120 , 250
a,b,c = 150, 120 ,250
print(a,b,c)

150 120 250

In [3]:
#types of data in given value 
a={23,43}
print(type(a))

<class 'set'>

In [4]:
#was to print the address of the memory blok in given Value
a=6835
print(id(a))

2620682917936

In [5]:
#print your details , and display it
name = "manisha"
age = 21
phone = 8712316628
email ="manishachilakapati@gmail.com"
height = 5.7
print(name , age , phone , email, height)

manisha 21 8712316628 manishachilakapati@gmail.com 5.7