In [62]:
#WAS TO PRINT "Hello world"
s="hello"
print(s)

hello

In [63]:
#was to initilize the single and multiple value in single variable
g=6
print(g)
h=[10,20,30]
print(h)

6
[10, 20, 30]

In [64]:
#was to initialize multivariable values ae 150 , 120 , 250
a,b,c = 150, 120 ,250
print(a,b,c)

150 120 250

In [65]:
#types of data in given value 
a={23,43}
print(type(a))

<class 'set'>

In [66]:
#was to print the address of the memory blok in given Value
a=6835
print(id(a))

1903097701552

In [67]:
#print your details , and display it
name = "manisha"
age = 21
phone = 8712316628
email ="manishachilakapati@gmail.com"
height = 5.7
print(name , age , phone , email, height)

manisha 21 8712316628 manishachilakapati@gmail.com 5.7

In [68]:
#swaping the to varriables using 3rd temp element
a= 10
b=39

temp = a
a = b
b = temp
print(a)
print(b)

39
10

In [69]:
#swap the variables without using temp variables
m = [10, 20]
n = (39, 68)
m , n = n , m
print (m)
print(n)

(39, 68)
[10, 20]

In [70]:
#initializing a value
a = {"m":"python"}
print(a["m"])
a['m']= "java"
print(a['m'])

python
java

In [71]:
#concatenation

a = [10,20,30]
print(a)
a += [40,50,19]
print(a)

[10, 20, 30]
[10, 20, 30, 40, 50, 19]

In [72]:
#convert single valuedata to multi value data 
a = 10
n = str(a)
print(n)
m = list(a)
print(m)

10

TypeError: 'int' object is not iterable

In [ ]:
#to concate two multi value data types 
#str
x = "hello"
x+= "world"
print(x)
#list
y = [10 , 20 , 30 ]
y+=[12 , 34 , 21]
print(y)
#tuple
z = (21, 13 , 34)
z +=(43 , 53 ,2 )
print(z)
m = {87 , 6 ,32}
m|={32 ,42 ,4}
print(m)
n = {'a':12,'b':34}
n|={"n":75,"m":86}
print(n)

helloworld
[10, 20, 30, 12, 34, 21]
(21, 13, 34, 43, 53, 2)
{32, 4, 6, 87, 42}
{'a': 12, 'b': 34, 'n': 75, 'm': 86}

In [ ]:
#length of collection
c = "hello"
len(c)
print(len(c))
d=([13,53, "",13])
len(d)

5

4

In [ ]:
#write a equaion to check a middle value of a collection
d = [12,43,21,56,87]
print(d[len(d)//2])

21

In [ ]:
#was to concate a new str to the starting of an existing str
x = "is a python class"
y ="this "
z = y + x
print(z )

this is a python class

In [ ]:
#was to cancate a new str to the middle of a xisting str
x = "this is class"
print(len(x)//2)
y = x[0:7]+ " python" + x[7:]
print(y)

6
this is python class

In [ ]:
#was to modify the new charecter into the middle of given str
m = "today is holiday"
n = m[0:len(m)//2] + " super" + m[len(m)//2:]
print(n)

today is super holiday

In [ ]:
#was o modify the sequence of charecters in given ster
s = "luvuzindhagi"
p = s[0:3]+" "+s[3:4]+" "+s[4:]
print(p)

luv u zindhagi

In [ ]:
#to delete specific char
s = "sadhuvukondiifirst"
p = s[0:11]+s[12:]
print(p)

sadhuvukondifirst

In [ ]:
#was to concate the new value into the list
l = [1,2,3]
l += ["a","b"]
print(l)

[1, 2, 3, 'a', 'b']

In [ ]:
#concate the new key and value into the dict
d={'a':150}
d["b"]=75 
print(d)

{'a': 150, 'b': 75}

In [88]:
d = {'a':"hai",'b':700,'c':500,'d':780}
d['c']
del d['c']
print(d)

{'a': 'hai', 'b': 700, 'd': 780}

In [120]:
#to delete the specific key and value in the given dict
d ={'a':"hai" , 'b':750 , 'c': '500'}
del d['c']
print(d)

{'a': 'hai', 'b': 750}

In [87]:
#to modify the specific value in the given dict
x={10:150,20:"hai"}
x[10]=156
print (x)

{10: 156, 20: 'hai'}

In [125]:
#to concate the list  using type casting
l=['a','b','c']
t=(10,20,30)
print(l+list(t))

['a', 'b', 'c', 10, 20, 30]

In [129]:
#to concate the list value and tuple value without using type casting
l = ['a','b','c'] 
t=(32,54,2)
l+=t

In [90]:
#to check the gven num is divisible by 3
n=9
print(n%3==0)

True

In [91]:
#to check the given numm is divisible by 2 and 6
n=12
print(n%2==0 and n%6==0)

True

In [92]:
#to check the last digit is divisible by 3 from the given int num 
n=1998
print((n%10)%3)==0

2

False

In [130]:
#to check the last digit is divisible 3 by type ccating
n=2026
int(str(n)[-1])%3==0
print(n)

2026

In [131]:
# to check the given num is greater than 150
n = 187
print(n>150)

True

In [132]:
#to check the given is greater or equal to 100
n = 99
print(n>=100)

False

In [133]:
#to check the given num is <150 
n = 132
print(n<150)

True

In [134]:
# to check the given num is <= 100
n= 100
print(n<=100)

True

In [135]:
#to check the given num is > 15 and < 24
n=23 
print(15<n>24)

False

In [136]:
#to check he given num is even
n =23
print(n%2==0)

False

In [137]:
#to check the given num is odd
n = 13
print(n%2!=0)

True

In [105]:
#repclication of a given str 6 times
s="abc"
print(s*6)

abcabcabcabcabcabc

In [106]:
#replcation of a collection in 3 times
t=('a','b',None)
print(t*3)

('a', 'b', None, 'a', 'b', None, 'a', 'b', None)

In [143]:
# to check the given str last cahr ascii value should be divisible by 5  or not
s="apple"
ord(s[-1]%5==0)

TypeError: not all arguments converted during string formatting

In [144]:
s="apple"
print(s)
s[-1]
ord('A')

apple

65

In [113]:
#was to check present b/w 600 to 130 and the number should be divisible by 3 and 4
n=120
print(60<=n<=130 and n%3==0 and n%4==0 and n%10<9)

True

In [114]:
#was to check the given number is even or less than 25
n=30
print(n%2==0 or n>25)

True

In [115]:

n=30
print(n%2==0)

True

In [116]:
#was to check the given num is  not divisible by either 3 and 5
n=34
print(n%3!=0 and n%5!=0)

True

In [117]:
#was to check find out the ascii char in a given number
n=48
chr(n)

'0'