In [1]:
#WAS TO PRINT "Hello world"
s="hello"
print(s)

hello

In [1]:
#was to initilize the single and multiple value in single variable
g=6
print(g)
h=[10,20,30]
print(h)

6
[10, 20, 30]

In [2]:
#was to initialize multivariable values ae 150 , 120 , 250
a,b,c = 150, 120 ,250
print(a,b,c)

150 120 250

In [3]:
#types of data in given value 
a={23,43}
print(type(a))

<class 'set'>

In [4]:
#was to print the address of the memory blok in given Value
a=6835
print(id(a))

2620682917936

In [5]:
#print your details , and display it
name = "manisha"
age = 21
phone = 8712316628
email ="manishachilakapati@gmail.com"
height = 5.7
print(name , age , phone , email, height)

manisha 21 8712316628 manishachilakapati@gmail.com 5.7

In [2]:
#swaping the to varriables using 3rd temp element
a= 10
b=39

temp = a
a = b
b = temp
print(a)
print(b)

39
10

In [3]:
#swap the variables without using temp variables
m = [10, 20]
n = (39, 68)
m , n = n , m
print (m)
print(n)

(39, 68)
[10, 20]

In [5]:
#initializing a value
a = {"m":"python"}
print(a["m"])
a['m']= "java"
print(a['m'])

python
java

In [6]:
#concatenation

a = [10,20,30]
print(a)
a += [40,50,19]
print(a)

[10, 20, 30]
[10, 20, 30, 40, 50, 19]

In [16]:
#convert single valuedata to multi value data 
a = 10
n = str(a)
print(n)
m = list(a)
print(m)

10

TypeError: 'int' object is not iterable

In [24]:
#to concate two multi value data types 
#str
x = "hello"
x+= "world"
print(x)
#list
y = [10 , 20 , 30 ]
y+=[12 , 34 , 21]
print(y)
#tuple
z = (21, 13 , 34)
z +=(43 , 53 ,2 )
print(z)
m = {87 , 6 ,32}
m|={32 ,42 ,4}
print(m)
n = {'a':12,'b':34}
n|={"n":75,"m":86}
print(n)

helloworld
[10, 20, 30, 12, 34, 21]
(21, 13, 34, 43, 53, 2)
{32, 4, 6, 87, 42}
{'a': 12, 'b': 34, 'n': 75, 'm': 86}

In [28]:
#length of collection
c = "hello"
len(c)
print(len(c))
d=([13,53, "",13])
len(d)

5

4

In [30]:
#write a equaion to check a middle value of a collection
d = [12,43,21,56,87]
print(d[len(d)//2])

21

In [36]:
#was to concate a new str to the starting of an existing str
x = "is a python class"
y ="this "
z = y + x
print(z )

this is a python class

In [40]:
#was to cancate a new str to the middle of a xisting str
x = "this is class"
print(len(x)//2)
y = x[0:7]+ " python" + x[7:]
print(y)

6
this is python class

In [42]:
#was to modify the new charecter into the middle of given str
m = "today is holiday"
n = m[0:len(m)//2] + " super" + m[len(m)//2:]
print(n)

today is super holiday