In [62]:
#WAS TO PRINT "Hello world"
s="hello"
print(s)

hello

In [63]:
#was to initilize the single and multiple value in single variable
g=6
print(g)
h=[10,20,30]
print(h)

6
[10, 20, 30]

In [64]:
#was to initialize multivariable values ae 150 , 120 , 250
a,b,c = 150, 120 ,250
print(a,b,c)

150 120 250

In [65]:
#types of data in given value 
a={23,43}
print(type(a))

<class 'set'>

In [66]:
#was to print the address of the memory blok in given Value
a=6835
print(id(a))

1903097701552

In [67]:
#print your details , and display it
name = "manisha"
age = 21
phone = 8712316628
email ="manishachilakapati@gmail.com"
height = 5.7
print(name , age , phone , email, height)

manisha 21 8712316628 manishachilakapati@gmail.com 5.7

In [68]:
#swaping the to varriables using 3rd temp element
a= 10
b=39

temp = a
a = b
b = temp
print(a)
print(b)

39
10

In [69]:
#swap the variables without using temp variables
m = [10, 20]
n = (39, 68)
m , n = n , m
print (m)
print(n)

(39, 68)
[10, 20]

In [70]:
#initializing a value
a = {"m":"python"}
print(a["m"])
a['m']= "java"
print(a['m'])

python
java

In [71]:
#concatenation

a = [10,20,30]
print(a)
a += [40,50,19]
print(a)

[10, 20, 30]
[10, 20, 30, 40, 50, 19]

In [202]:
#convert single valuedata to multi value data 
a = 10
str(a)

'10'

In [ ]:
#to concate two multi value data types 
#str
x = "hello"
x+= "world"
print(x)
#list
y = [10 , 20 , 30 ]
y+=[12 , 34 , 21]
print(y)
#tuple
z = (21, 13 , 34)
z +=(43 , 53 ,2 )
print(z)
m = {87 , 6 ,32}
m|={32 ,42 ,4}
print(m)
n = {'a':12,'b':34}
n|={"n":75,"m":86}
print(n)

helloworld
[10, 20, 30, 12, 34, 21]
(21, 13, 34, 43, 53, 2)
{32, 4, 6, 87, 42}
{'a': 12, 'b': 34, 'n': 75, 'm': 86}

In [ ]:
#length of collection
c = "hello"
len(c)
print(len(c))
d=([13,53, "",13])
len(d)

5

4

In [ ]:
#write a equaion to check a middle value of a collection
d = [12,43,21,56,87]
print(d[len(d)//2])

21

In [ ]:
#was to concate a new str to the starting of an existing str
x = "is a python class"
y ="this "
z = y + x
print(z )

this is a python class

In [ ]:
#was to cancate a new str to the middle of a xisting str
x = "this is class"
print(len(x)//2)
y = x[0:7]+ " python" + x[7:]
print(y)

6
this is python class

In [ ]:
#was to modify the new charecter into the middle of given str
m = "today is holiday"
n = m[0:len(m)//2] + " super" + m[len(m)//2:]
print(n)

today is super holiday

In [ ]:
#was o modify the sequence of charecters in given ster
s = "luvuzindhagi"
p = s[0:3]+" "+s[3:4]+" "+s[4:]
print(p)

luv u zindhagi

In [ ]:
#to delete specific char
s = "sadhuvukondiifirst"
p = s[0:11]+s[12:]
print(p)

sadhuvukondifirst

In [ ]:
#was to concate the new value into the list
l = [1,2,3]
l += ["a","b"]
print(l)

[1, 2, 3, 'a', 'b']

In [204]:
#was to concate the new value ino ending of str
y =["ramu", "seetha"]
y+=['king' , "queen"]
y

['ramu', 'seetha', 'king', 'queen']

In [206]:
#was to concate the new value in to the middle of the str
t =[10, 113 , True ,"haii"]
t [len(t)//2:len(l)//2]=['10','20']
t

[10, 113, '10', '20', 'haii']

In [207]:
#was to concate a new value in to the specific position of list
l =[12 ,3432,True, "haii"]
l[-2:-2] = [100 ,200]
l

[12, 3432, 100, 200, True, 'haii']

In [209]:
#was to modify a new value in to the starting of list
l =[12 ,3432,True, "haii"]
l[0] =200
l

[200, 3432, True, 'haii']

In [210]:
#was to modify a new value in to the ending position of list
l =[12 ,3432,True, "haii"]
l[-1] = 100
l

[12, 3432, True, 100]

In [211]:
#was to modify  a new value in to the middle position of list
l =[12 ,3432,True, "haii"]
l[len(l)//2] = 100 
l

[12, 3432, 100, 'haii']

In [208]:
#was to modify a new value in to the specific position of list
l =[12 ,3432,True, "haii"]
l[1] = 15 + 73j
l

[12, (15+73j), True, 'haii']

In [1]:
#was to modify the 1st 4 position value in list
l= [2,4,63,22,53,24,63,642,25]
l[0:4]=["a","s","sz","r"]
l

['a', 's', 'sz', 'r', 53, 24, 63, 642, 25]

In [4]:
#was to modify the sequence of list
l= [2,4,63,22,53,24,63,642,25]
l[0::2]=["a","s","sz","r",'g']
l[1::2]=[1,3,4,5]
l

['a', 1, 's', 3, 'sz', 4, 'r', 5, 'g']

In [5]:
#was to delete the specifi position value in list
l= [2,4,63,22,53,24,63,642,25]
del l[3]
l

[2, 4, 63, 53, 24, 63, 642, 25]

In [6]:
#was to delete the specific value in set
l= {2,4,63,22,53,24,63,642,25}
l= l -{2, 4,63}
l

{22, 24, 25, 53, 642}

In [ ]:
#concate the new key and value into the dict
d={'a':150}
d["b"]=75 
print(d)

{'a': 150, 'b': 75}

In [7]:
#concate the new key and  value into the  multi value dict
d={'a':150,"b":24}
e = {"s":23,"v":3}
d|=e
print(d)

{'a': 150, 'b': 24, 's': 23, 'v': 3}

In [ ]:
#concate the new key and value into the dict
d={'a':150}
d["b"]=75 
print(d)

In [88]:
d = {'a':"hai",'b':700,'c':500,'d':780}
d['c']
del d['c']
print(d)

{'a': 'hai', 'b': 700, 'd': 780}

In [8]:
#modify the specific value in dict
x={10:50,23:"jde"}
x[10]=234
x

{10: 234, 23: 'jde'}

In [120]:
#to delete the specific key and value in the given dict
d ={'a':"hai" , 'b':750 , 'c': '500'}
del d['c']
print(d)

{'a': 'hai', 'b': 750}

In [87]:
#to modify the specific value in the given dict
x={10:150,20:"hai"}
x[10]=156
print (x)

{10: 156, 20: 'hai'}

In [125]:
#to concate the list  using type casting
l=['a','b','c']
t=(10,20,30)
print(l+list(t))

['a', 'b', 'c', 10, 20, 30]

In [129]:
#to concate the list value and tuple value without using type casting
l = ['a','b','c'] 
t=(32,54,2)
l+=t

In [90]:
#to check the gven num is divisible by 3
n=9
print(n%3==0)

True

In [91]:
#to check the given numm is divisible by 2 and 6
n=12
print(n%2==0 and n%6==0)

True

In [92]:
#to check the last digit is divisible by 3 from the given int num 
n=1998
print((n%10)%3)==0

2

False

In [130]:
#to check the last digit is divisible 3 by type ccating
n=2026
int(str(n)[-1])%3==0
print(n)

2026

In [131]:
# to check the given num is greater than 150
n = 187
print(n>150)

True

In [132]:
#to check the given is greater or equal to 100
n = 99
print(n>=100)

False

In [133]:
#to check the given num is <150 
n = 132
print(n<150)

True

In [134]:
# to check the given num is <= 100
n= 100
print(n<=100)

True

In [135]:
#to check the given num is > 15 and < 24
n=23 
print(15<n>24)

False

In [136]:
#to check he given num is even
n =23
print(n%2==0)

False

In [137]:
#to check the given num is odd
n = 13
print(n%2!=0)

True

In [105]:
#repclication of a given str 6 times
s="abc"
print(s*6)

abcabcabcabcabcabc

In [106]:
#replcation of a collection in 3 times
t=('a','b',None)
print(t*3)

('a', 'b', None, 'a', 'b', None, 'a', 'b', None)

In [9]:
#to check the given number is divisibel by 3 and also < 22
n = 24
print(n%3==0 and n>22)

True

In [12]:
#tocheck the len(collection) is even or not
g = "hbvrkvn"
len(g)%2==0

False

In [13]:
#to check the len(collection) is < 55 or not and >16

y ="f uhbvuyiuvc8u8vyiybktd"
print(len(y)>16 and len(y)<55)

True

In [170]:
# to check the given str last cahr ascii value should be divisible by 5  or not
s="apple"
ord(s[-1])%5==0

False

In [144]:
s="apple"
print(s)
s[-1]
ord('A')

apple

65

In [113]:
#was to check present b/w 60 to 130 and the number should be divisible by 3 and 4
n=120
print(60<=n<=130 and n%3==0 and n%4==0 and n%10<9)

True

In [145]:
#was to check the given number is even or greater than 25
n=30
print(n%2==0 or n<25)

True

In [114]:
#was to check the given number is even or greater than 25
n=30
print(n%2==0 or n>25)

True

In [146]:
#was to check the given num is divisible by 3 Or 5
n=30
print(n%3==0 or n%5==0)

True

In [116]:
#was to check the given num is  not divisible by either 3 and 5
n=34
print(n%3!=0 and n%5!=0)

True

In [117]:
#was to check find out the ascii char in a given number
n=48
chr(n)

'0'

In [147]:
#to check the given num is not a evn num
n=30 
print(n%2!=0)

False

In [ ]:
#to check the given num is not a odd num
n=30 
print(n%2==0)

In [148]:
#to check the given num is not divisible by 3 
n=30 
print(n%3!=0)

False

In [150]:
#to check the given num is not divisible by 3  and 5
n=30 
print(n%3!=0 and n%5!=0)

False

In [152]:
#to check the given num is not divisible by 3 or 5
n=30 
print(n%3!=0 or n%5!=0)

False

In [168]:
#to check the given charecter acsii value is  divisible by 5
n="aasd"
print(ord(n[-1])%5==0)

True

In [159]:
#to check the given asciii char in a given num 
n=30 
chr(n)

'\x1e'

In [163]:
#To check the ascii value in a given char
ch ='a'
ord(ch)

97

In [172]:
#to check the given chr is uppercase or not
ch = "G"
"A" <= ch and ch <= "z"

True

In [174]:
#to check the given chr is lower case 
ch = "a"
"a" <= ch <= "z"

True

In [197]:
#to check the given charecter is the alphabet 
ch = "8"
"A" <= ch <= "Z" or "a"<=ch<="z"

False

In [178]:
# to check the given char is the ascii num 
ch =5
0 <= ch <= 9

True

In [179]:
# to check the given char is spcl char
ch ="$"
"A" <= ch <= "Z" or "a"<=ch<="z" or "0" <= ch <= "9"

False

In [194]:
#to check the giiven num should not be upper case 
ch = 'A'
n != ("A" <= ch <= "Z")

True

In [189]:
#to check the giiven num should not be lower case 
ch = 'B'
ch != "a" <= ch <= "z"

False

In [193]:
# to check the given char is not a spcl char
ch ="$"
n != ("A" <= ch <= "Z" or "a"<=ch<="z" or "0" <= ch <= "9")

True

In [196]:
# to check the given char is not a ascii num 
ch ="g"
n != ( "0" <= ch <= "9")

True

In [ ]:
# to check the given char is not a ascii num 
ch ="g"
n != ( "0" <= ch <= "9")

In [198]:
#to check the given char is not a spcl char
ch = "$"
n != ("A" <= ch <= "Z" or "a"<=ch<="z" or "0" <= ch <= "9")

True

In [199]:
#was to check the given chr is vowel
ch = 'A'
ch in "aeiouAEIOU"

True